<!-- component -->
<div class="bg-gray-100 flex justify-center items-center h-screen">
  <!-- Left: Image -->
  <div class="w-1/2 h-screen hidden lg:block">
    <img
      src="../../../assets/libry-login-ilustracao.svg"
      alt="Ilustração de uma pessoa lendo um livro."
      class="flex items-center justify-center h-screen w-full"
    />
  </div>
  <!-- Right: Login Form -->
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <div class="flex flex-col items-center justify-center">
      <img src="../../../assets/logo.svg" class="mb-5" />
      <h1 class="text-2xl font-semibold mb-4 text-center text-blue-900">
        Bem-vindo à Libry!
      </h1>
      <p class="mb-4 text-center text-blue-900">
        Aqui, cada página é uma nova jornada.
      </p>
      <p class="mb-4 text-center text-blue-900">
        Entre e descubra seu próximo grande livro!
      </p>
    </div>

    <form action="#" method="POST">
      <!-- Email Input -->
      <div class="mb-4">
        <label for="email" class="block text-gray-600"
          ><i class="ph ph-envelope-simple"></i> Email</label
        >
        <input
          type="text"
          id="email"
          name="email"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-900"
          autocomplete="off"
        />
      </div>
      <!-- Senha Input -->
      <div class="mb-4">
        <label for="senha" class="block text-gray-600">
          <i class="ph ph-lock"></i> Senha</label
        >
        <input
          type="password"
          id="senha"
          name="senha"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-900"
          autocomplete="off"
        />
      </div>
      <!-- Login Button -->
      <button
        type="submit"
        class="bg-blue-900 hover:bg-blue-800 text-white font-semibold rounded-md py-2 px-4 w-full"
      >
        Login
      </button>
    </form>
    <!-- Sign up  Link -->
    <div class="mt-6 text-blue-900 text-center">
      <p>Ainda não tem conta?</p>
      <a href="#" class="hover:underline text-2xl font-bold">Cadastre-se</a>
    </div>
  </div>
</div>
