<div
  class="w-full sm:w-64 bg-white border border-gray-200 rounded-lg shadow m-2 transition-transform transform hover:translate-y-[-2px] hover:shadow-lg"
>
  <a href="#">
    <img
      class="rounded-t-lg object-cover h-72 w-full"
      src="../../../assets/card-placeholder.png"
      alt=""
    />
  </a>
  <div class="p-5">
    <a href="#">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-blue-900 truncate w-48"
      >
        Abusado
      </h5>
    </a>
    <p class="mb-3 font-normal text-blue-900 truncate w-48">Caco Barcellos</p>
  </div>
</div>
