<div class="nav-bar">
  <img ngSrc="./assets/logo.svg" width="260" height="67" />

  <div class="nav-bar-links">
    <ul>
      <li>
        <a href="#/home"
          ><i class="bx bx-home" style="color: 2e4BB7"></i> Home</a
        >
      </li>
      <li>
        <a href="#/about"><i class="bx bx-book-open"></i> Livros disponiveis</a>
      </li>
      <li>
        <a href="#/contact"><i class="bx bx-book-reader"></i> Meus livros</a>
      </li>
    </ul>

    <h1 class="text-3xl font-bold underline">Hello world!</h1>
  </div>
</div>
